### Importando arquivos CSV

In [2]:
import pandas as pd# importing the pandas library

#importing the data
arquivo = "dados/arquivo_csv_virgula.csv" #path to the file
#pd.read_csv(arquivo) #reading the file

In [3]:
funcionario = pd.read_csv(arquivo)# reading the file
funcionario.head() #showing the first 5 lines of the file

,Nome Completo,Idade,Renda Mensal,Sexo,Cidade,Estado,Data de Nascimento
0,João da Silva,54,2.270,Feminino,São Paulo,SP,1970-06-15 22:19:00.037648
1,Maria Oliveira,80,5.147,Masculino,Rio de Janeiro,RJ,1944-06-15 10:19:00.037648
2,Pedro Santos,46,8.657,Masculino,Belo Horizonte,MG,1978-06-15 22:19:00.037648
3,Ana Costa,30,5.026,Feminino,Salvador,BA,1994-06-15 22:19:00.037648
4,Lucas Pereira,39,4.128,Masculino,Curitiba,PR,1985-06-15 16:19:00.037648

In [4]:
funcionario.dtypes #showing the data types of the columns

Nome Completo          object
Idade                   int64
Renda Mensal          float64
Sexo                   object
Cidade                 object
Estado                 object
Data de Nascimento     object
dtype: object

In [5]:
# adding params to the read_csv function
funcionario = pd.read_csv(arquivo, sep= ',', parse_dates=['Data de Nascimento'], encoding="utf-8", thousands=".", decimal=",", dtype={"Idade":float})# reading the file with specific parameters
funcionario.head()

,Nome Completo,Idade,Renda Mensal,Sexo,Cidade,Estado,Data de Nascimento
0,João da Silva,54.0,227,Feminino,São Paulo,SP,1970-06-15 22:19:00.037648
1,Maria Oliveira,80.0,5147,Masculino,Rio de Janeiro,RJ,1944-06-15 10:19:00.037648
2,Pedro Santos,46.0,8657,Masculino,Belo Horizonte,MG,1978-06-15 22:19:00.037648
3,Ana Costa,30.0,5026,Feminino,Salvador,BA,1994-06-15 22:19:00.037648
4,Lucas Pereira,39.0,4128,Masculino,Curitiba,PR,1985-06-15 16:19:00.037648

In [6]:
funcionario.dtypes #showing the data types of the columns again to see the changes

Nome Completo                 object
Idade                        float64
Renda Mensal                   int64
Sexo                          object
Cidade                        object
Estado                        object
Data de Nascimento    datetime64[ns]
dtype: object

In [7]:
# importando o arquivo com o separador de ponto e vírgula
# importing the file with the semicolon separator
arquivo_pv = "dados/arquivo_csv_ponto_virgula.csv" #path to the file
funcionario_pv = pd.read_csv(arquivo_pv)# reading the file
funcionario_pv.head()

,Nome Completo,Idade,Renda Mensal,Sexo,Cidade,Estado,Data de Nascimento
0,João da Silva,54,2.270,Feminino,São Paulo,SP,1970-06-15 22:19:00.037648
1,Maria Oliveira,80,5.147,Masculino,Rio de Janeiro,RJ,1944-06-15 10:19:00.037648
2,Pedro Santos,46,8.657,Masculino,Belo Horizonte,MG,1978-06-15 22:19:00.037648
3,Ana Costa,30,5.026,Feminino,Salvador,BA,1994-06-15 22:19:00.037648
4,Lucas Pereira,39,4.128,Masculino,Curitiba,PR,1985-06-15 16:19:00.037648

In [8]:
# Importando arquivo com pipe
# importing file with pipe
arquivo_txt = "dados/arquivo_csv_ponto_pipe.txt"#path to the file
funcionario_txt = pd.read_csv(arquivo_txt, sep='|')# reading the file with pipe separator
funcionario_txt.head() #showing the first 5 lines of the file with pipe separator

,Nome Completo,Idade,Renda Mensal,Sexo,Cidade,Estado,Data de Nascimento
0,João da Silva,54,2.270,Feminino,São Paulo,SP,1970-06-15 22:19:00.037648
1,Maria Oliveira,80,5.147,Masculino,Rio de Janeiro,RJ,1944-06-15 10:19:00.037648
2,Pedro Santos,46,8.657,Masculino,Belo Horizonte,MG,1978-06-15 22:19:00.037648
3,Ana Costa,30,5.026,Feminino,Salvador,BA,1994-06-15 22:19:00.037648
4,Lucas Pereira,39,4.128,Masculino,Curitiba,PR,1985-06-15 16:19:00.037648

In [10]:
# importing excel file
# importing archivo excel
arquivo_excel = "dados/vendas_2022.xlsx" #path to the file
vendas = pd.read_excel(arquivo_excel)# reading the excel file
vendas.head() #showing the first 5 lines of the excel file

,Order Id,Product Id,Prod. Costs,Rent Costs,Sales Date,Fiscal Year,Total Cost,Customer Id,Volume (LB),Volume,...,City,Latitude,Longitude,GEO ZONE,Plant Name,Plant State,Plant City,Plant Latitude,Plant Longitude,Plant Manager
0,32899284,BL01-CA03-1101,637.11,0.0,2022-02-09 00:00:00,2023,169.54,4564,0,0,...,São Bernardo Do Campo,-23.6982,-46.6212,Grande SP,Sorocaba,SP,Sorocaba,-23.43386,-47.39249,Peter Stephen
1,32882015,BL01-CA03-1076,445.16,0.0,2022-01-21 00:00:00,2023,95.84,4564,5290,0,...,São Bernardo Do Campo,-23.6982,-46.6212,Grande SP,Sorocaba,SP,Sorocaba,-23.43386,-47.39249,Peter Stephen
2,32961417,BL01-CA03-1076,445.16,0.0,2022-05-20 00:00:00,2023,99.76,4564,5290,0,...,São Bernardo Do Campo,-23.6982,-46.6212,Grande SP,Sorocaba,SP,Sorocaba,-23.43386,-47.39249,Peter Stephen
3,33015853,BL01-CA03-1076,445.16,0.0,2022-08-02 00:00:00,2023,99.76,4564,5290,0,...,São Bernardo Do Campo,-23.6982,-46.6212,Grande SP,Sorocaba,SP,Sorocaba,-23.43386,-47.39249,Peter Stephen
4,32981117,BL01-CA03-1040,2289.20,0.0,2022-06-21 00:00:00,2023,61.20,4564,480,0,...,São Bernardo Do Campo,-23.6982,-46.6212,Grande SP,Sorocaba,SP,Sorocaba,-23.43386,-47.39249,Peter Stephen

In [11]:
import json
# importing json file

### importando json

In [14]:
arquivo_json = "dados/arquivo_JSON.json" #path to the file

with open(arquivo_json, 'r') as file:
    dados_json = json.load(file) # reading the json file
dados_json #showing the json data

{'type': 'FeatureCollection',
 'features': [{'bbox': [-87.376881, 36.017586, -86.857498, 36.179398],
   'type': 'Feature',
   'properties': {'segments': [{'distance': 60837.7,
      'duration': 2541.5,
      'steps': [{'distance': 25.0,
        'duration': 4.5,
        'type': 11,
        'instruction': 'Head east on Hermitage Plaza',
        'name': 'Hermitage Plaza',
        'way_points': [0, 2]},
       {'distance': 555.6,
        'duration': 100.0,
        'type': 1,
        'instruction': 'Turn right onto Centennial Place',
        'name': 'Centennial Place',
        'way_points': [2, 8]},
       {'distance': 527.0,
        'duration': 41.2,
        'type': 5,
        'instruction': 'Turn slight right onto Centennial Boulevard',
        'name': 'Centennial Boulevard',
        'way_points': [8, 24]},
       {'distance': 252.8,
        'duration': 18.2,
        'type': 0,
        'instruction': 'Turn left onto Centennial Boulevard',
        'name': 'Centennial Boulevard',
        'way_points': [24, 27]},
       {'distance': 2489.7,
        'duration': 112.3,
        'type': 13,
        'instruction': 'Keep right',
        'name': '-',
        'way_points': [27, 72]},
       {'distance': 103.5,
        'duration': 12.4,
        'type': 5,
        'instruction': 'Turn slight right onto Robertson Avenue, SR 155',
        'name': 'Robertson Avenue, SR 155',
        'way_points': [72, 76]},
       {'distance': 50217.3,
        'duration': 1830.7,
        'type': 1,
        'instruction': 'Turn right',
        'name': '-',
        'way_points': [76, 351]},
       {'distance': 468.4,
        'duration': 30.7,
        'type': 13,
        'instruction': 'Keep right',
        'name': '-',
        'way_points': [351, 357]},
       {'distance': 5937.4,
        'duration': 328.8,
        'type': 1,
        'instruction': 'Turn right onto SR 46',
        'name': 'SR 46',
        'way_points': [357, 468]},
       {'distance': 139.6,
        'duration': 33.5,
        'type': 1,
        'instruction': 'Turn right onto Skyline Circle',
        'name': 'Skyline Circle',
        'way_points': [468, 473]},
       {'distance': 63.7,
        'duration': 15.3,
        'type': 0,
        'instruction': 'Turn left onto Skyline Circle',
        'name': 'Skyline Circle',
        'way_points': [473, 476]},
       {'distance': 57.8,
        'duration': 13.9,
        'type': 4,
        'instruction': 'Turn slight left onto Skyline Circle',
        'name': 'Skyline Circle',
        'way_points': [476, 478]},
       {'distance': 0.0,
        'duration': 0.0,
        'type': 10,
        'instruction': 'Arrive at Skyline Circle, on the left',
        'name': '-',
        'way_points': [478, 478]}]}],
    'summary': {'distance': 60837.7, 'duration': 2541.5},
    'way_points': [0, 478]},
   'geometry': {'coordinates': [[-86.87969, 36.179339],
     [-86.879686, 36.17934],
     [-86.87943, 36.179398],
     [-86.87941, 36.17938],
     [-86.878463, 36.178481],
     [-86.877211, 36.177293],
     [-86.876881, 36.17696],
     [-86.875658, 36.175806],
     [-86.875395, 36.175612],
     [-86.875296, 36.175332],
     [-86.875173, 36.174983],
     [-86.875092, 36.174754],
     [-86.874983, 36.174446],
     [-86.874734, 36.173725],
     [-86.874725, 36.173706],
     [-86.874629, 36.173487],
     [-86.874575, 36.173363],
     [-86.874481, 36.173151],
     [-86.87445, 36.173094],
     [-86.874266, 36.172746],
     [-86.874051, 36.172193],
     [-86.874002, 36.171997],
     [-86.873977, 36.171802],
     [-86.873919, 36.171154],
     [-86.873909, 36.171051],
     [-86.873532, 36.171072],
     [-86.872467, 36.171145],
     [-86.871099, 36.171183],
     [-86.87091, 36.171159],
     [-86.870747, 36.171132],
     [-86.870472, 36.171042],
     [-86.870335, 36.170979],
     [-86.87024, 36.170924],
     [-86.870009, 36.170661],
     [-86.869717, 36.170342],
     [-86.869451, 36.169905],
     [-86.869391, 36.169649],
     [-86.869348, 36.169337],
     [-86.869348, 36.169129],
     [-86.869623, 36.167915],
     [-86.869695, 36.167393],
     [-86.869636, 36.16696],
     [-86.869621, 36.166785],
     [-86.869579, 36.166511],
     [-86.869459, 36.166101],
     [-86.869279, 36.165651],
     [-86.869013, 36.165131],
     [-86.868722, 36.164556],
     [-86.868472, 36.164057],
     [-86.867769, 36.162748],
     [-86.866929, 36.161149],
     [-86.86679, 36.160884],
     [-86.866438, 36.160191],
     [-86.866198, 36.159809],
     [-86.865709, 36.159262],
     [-86.8654, 36.159033],
     [-86.865005, 36.158798],
     [-86.864773, 36.15868],
     [-86.864009, 36.158416],
     [-86.863187, 36.158122],
     [-86.86219, 36.1578],
     [-86.861022, 36.157419],
     [-86.859572, 36.156899],
     [-86.85928, 36.156753],
     [-86.858868, 36.156483],
     [-86.858387, 36.156088],
     [-86.858027, 36.155638],
     [-86.857795, 36.155187],
     [-86.857692, 36.154861],
     [-86.857615, 36.154508],
     [-86.857601, 36.154276],
     [-86.857548, 36.154096],
     [-86.857498, 36.153929],
     [-86.857512, 36.153808],
     [-86.857554, 36.153422],
     [-86.857591, 36.153081],
     [-86.857599, 36.153002],
     [-86.857759, 36.152992],
     [-86.857868, 36.152985],
     [-86.857999, 36.152938],
     [-86.859264, 36.152317],
     [-86.859738, 36.152154],
     [-86.860437, 36.151988],
     [-86.864076, 36.151038],
     [-86.864789, 36.150826],
     [-86.864964, 36.150793],
     [-86.86602, 36.150647],
     [-86.870229, 36.150133],
     [-86.872206, 36.149753],
     [-86.873321, 36.149466],
     [-86.873741, 36.149337],
     [-86.874923, 36.148881],
     [-86.875345, 36.148704],
     [-86.876946, 36.147889],
     [-86.880414, 36.145333],
     [-86.88498, 36.141943],
     [-86.885432, 36.141607],
     [-86.888158, 36.139584],
     [-86.894614, 36.134808],
     [-86.895301, 36.134299],
     [-86.895789, 36.133874],
     [-86.897192, 36.132482],
     [-86.898534, 36.131012],
     [-86.898842, 36.130693],
     [-86.899155, 36.13037],
     [-86.900481, 36.128931],
     [-86.901366, 36.127972],
     [-86.901994, 36.127362],
     [-86.902556, 36.12693],
     [-86.902735, 36.126837],
     [-86.903455, 36.126468],
     [-86.905797, 36.125286],
     [-86.907056, 36.124647],
     [-86.907615, 36.124326],
     [-86.907846, 36.124181],
     [-86.908348, 36.123824],
     [-86.908829, 36.123436],
     [-86.909449, 36.122855],
     [-86.913975, 36.118207],
     [-86.914777, 36.117469],
     [-86.915544, 36.116844],
     [-86.917132, 36.115652],
     [-86.917457, 36.115408],
     [-86.918532, 36.114607],
     [-86.918981, 36.114271],
     [-86.919626, 36.113791],
     [-86.921919, 36.112079],
     [-86.922315, 36.111783],
     [-86.923102, 36.111202],
     [-86.924017, 36.110516],
     [-86.924816, 36.109921],
     [-86.925764, 36.109189],
     [-86.930323, 36.105802],
     [-86.930918, 36.105303],
     [-86.931671, 36.104673],
     [-86.931976, 36.104417],
     [-86.932789, 36.103582],
     [-86.933448, 36.102804],
     [-86.934244, 36.101792],
     [-86.93492, 36.100653],
     [-86.938066, 36.09381],
     [-86.93877, 36.09246],
     [-86.939417, 36.091398],
     [-86.939997, 36.090618],
     [-86.940627, 36.08989],
     [-86.941696, 36.088922],
     [-86.942645, 36.088197],
     [-86.943641, 36.0875],
     [-86.944373, 36.08711],
     [-86.949967, 36.084448],
     [-86.952496, 36.083221],
     [-86.956056, 36.081496],
     [-86.956765, 36.081153],
     [-86.960827, 36.079241],
     [-86.963913, 36.077769],
     [-86.964001, 36.077727],
     [-86.968576, 36.075547],
     [-86.970579, 36.074711],
     [-86.971813, 36.074362],
     [-86.972768, 36.074196],
     [-86.97374, 36.074126],
     [-86.974613, 36.074082],
     [-86.975473, 36.074147],
     [-86.97711, 36.074441],
     [-86.978726, 36.074955],
     [-86.981015, 36.075801],
     [-86.982288, 36.076269],
     [-86.983245, 36.076609],
     [-86.984952, 36.077213],
     [-86.986985, 36.077742],
     [-86.98862, 36.078025],
     [-86.990464, 36.078175],
     [-86.992437, 36.078145],
     [-86.994326, 36.078062],
     [-86.995013, 36.078022],
     [-86.997477, 36.077902],
     [-87.004333, 36.077566],
     [-87.007918, 36.077408],
     [-87.015069, 36.077229],
     [-87.016177, 36.077219],
     [-87.016473, 36.077222],
     [-87.020156, 36.077138],
     [-87.020833, 36.07712],
     [-87.025323, 36.077056],
     [-87.026134, 36.077036],
     [-87.027676, 36.077062],
     [-87.028911, 36.07717],
     [-87.032062, 36.077474],
     [-87.033477, 36.077685],
     [-87.034747, 36.078016],
     [-87.036088, 36.078552],
     [-87.040801, 36.081423],
     [-87.047893, 36.085683],
     [-87.049516, 36.086552],
     [-87.050473, 36.086899],
     [-87.05152, 36.087157],
     [-87.05186, 36.087235],
     [-87.052615, 36.087335],
     [-87.053379, 36.087398],
     [-87.056564, 36.087525],
     [-87.061107, 36.087738],
     [-87.063274, 36.087862],
     [-87.065566, 36.087978],
     [-87.068787, 36.088019],
     [-87.072199, 36.087865],
     [-87.075968, 36.08734],
     [-87.0885, 36.085265],
     [-87.090504, 36.084934],
     [-87.091303, 36.084801],
     [-87.094161, 36.084333],
     [-87.102988, 36.082873],
     [-87.103698, 36.082744],
     [-87.104655, 36.082537],
     [-87.105749, 36.082243],
     [-87.106213, 36.0821],
     [-87.107241, 36.081746],
     [-87.108618, 36.081181],
     [-87.110023, 36.080476],
     [-87.118897, 36.075454],
     [-87.1194, 36.075154],
     [-87.120329, 36.074547],
     [-87.121051, 36.074017],
     [-87.121837, 36.073378],
     [-87.122718, 36.072564],
     [-87.123115, 36.072156],
     [-87.128313, 36.06635],
     [-87.129419, 36.065192],
     [-87.129879, 36.064738],
     [-87.137286, 36.057817],
     [-87.138018, 36.05711],
     [-87.138366, 36.056739],
     [-87.139085, 36.055917],
     [-87.139597, 36.055251],
     [-87.139955, 36.054742],
     [-87.140361, 36.054103],
     [-87.142998, 36.049714],
     [-87.143879, 36.048255],
     [-87.144411, 36.047368],
     [-87.144932, 36.046555],
     [-87.145515, 36.045756],
     [-87.146234, 36.044906],
     [-87.14699, 36.044128],
     [-87.147507, 36.043648],
     [-87.147865, 36.043339],
     [-87.148637, 36.042724],
     [-87.149472, 36.042135],
     [-87.149929, 36.041836],
     [-87.150407, 36.041547],
     [-87.151429, 36.040983],
     [-87.167942, 36.032582],
     [-87.16896, 36.032037],
     [-87.170812, 36.030982],
     [-87.176023, 36.028322],
     [-87.178861, 36.026879],
     [-87.182584, 36.024983],
     [-87.183391, 36.024569],
     [-87.184178, 36.024202],
     [-87.184508, 36.02407],
     [-87.184868, 36.023944],
     [-87.185219, 36.023841],
     [-87.185926, 36.023692],
     [-87.186307, 36.023643],
     [-87.186879, 36.023602],
     [-87.187344, 36.023599],
     [-87.187561, 36.023605],
     [-87.187679, 36.023615],
     [-87.187859, 36.023629],
     [-87.188051, 36.023649],
     [-87.18835, 36.023693],
     [-87.188735, 36.023763],
     [-87.189065, 36.023844],
     [-87.189835, 36.024068],
     [-87.196107, 36.026095],
     [-87.196828, 36.026337],
     [-87.197448, 36.026565],
     [-87.19881, 36.027124],
     [-87.204362, 36.02967],
     [-87.204735, 36.029834],
     [-87.205331, 36.03006],
     [-87.2056, 36.030145],
     [-87.206175, 36.030289],
     [-87.206811, 36.030396],
     [-87.207058, 36.030422],
     [-87.20736, 36.030444],
     [-87.207944, 36.030453],
     [-87.208485, 36.030425],
     [-87.208976, 36.030366],
     [-87.209206, 36.030324],
     [-87.20956, 36.030249],
     [-87.209857, 36.030176],
     [-87.210085, 36.030112],
     [-87.21037, 36.030017],
     [-87.211006, 36.029765],
     [-87.216152, 36.027402],
     [-87.217371, 36.026863],
     [-87.218989, 36.026185],
     [-87.222788, 36.024707],
     [-87.224601, 36.023972],
     [-87.225759, 36.023437],
     [-87.229789, 36.021354],
     [-87.230858, 36.020875],
     [-87.231573, 36.020592],
     [-87.232178, 36.020377],
     [-87.232775, 36.020187],
     [-87.233294, 36.020033],
     [-87.233961, 36.019859],
     [-87.235467, 36.01952],
     [-87.243027, 36.017922],
     [-87.243667, 36.017815],
     [-87.244339, 36.017727],
     [-87.24486, 36.017674],
     [-87.245316, 36.017636],
     [-87.246458, 36.017586],
     [-87.247452, 36.017593],
     [-87.247962, 36.017611],
     [-87.248922, 36.017681],
     [-87.249945, 36.017801],
     [-87.250489, 36.017889],
     [-87.251543, 36.018097],
     [-87.252272, 36.018276],
     [-87.254712, 36.018973],
     [-87.256316, 36.019459],
     [-87.258963, 36.020233],
     [-87.259549, 36.020395],
     [-87.260747, 36.020749],
     [-87.261889, 36.02109],
     [-87.264712, 36.021925],
     [-87.266447, 36.022437],
     [-87.26845, 36.023025],
     [-87.27507, 36.024964],
     [-87.27632, 36.02532],
     [-87.277086, 36.025506],
     [-87.278143, 36.025663],
     [-87.27898, 36.025728],
     [-87.279243, 36.025736],
     [-87.279608, 36.025732],
     [-87.280268, 36.025706],
     [-87.281196, 36.025602],
     [-87.282419, 36.025398],
     [-87.286957, 36.024578],
     [-87.28752, 36.024487],
     [-87.288191, 36.0244],
     [-87.28855, 36.024361],
     [-87.28899, 36.024317],
     [-87.289763, 36.02427],
     [-87.291002, 36.024248],
     [-87.297734, 36.024391],
     [-87.306603, 36.024198],
     [-87.309703, 36.023977],
     [-87.31305, 36.023466],
     [-87.323255, 36.021846],
     [-87.332402, 36.020389],
     [-87.333486, 36.020316],
     [-87.334244, 36.020369],
     [-87.336187, 36.020709],
     [-87.336607, 36.020754],
     [-87.336894, 36.020685],
     [-87.337458, 36.020426],
     [-87.338726, 36.021723],
     [-87.339012, 36.021998],
     [-87.3391, 36.022083],
     [-87.33937, 36.022343],
     [-87.339625, 36.022588],
     [-87.339704, 36.022664],
     [-87.339806, 36.022775],
     [-87.340085, 36.023077],
     [-87.340275, 36.023283],
     [-87.340772, 36.023824],
     [-87.3412, 36.024258],
     [-87.341663, 36.024757],
     [-87.341967, 36.025059],
     [-87.342653, 36.02574],
     [-87.344672, 36.027423],
     [-87.344959, 36.027662],
     [-87.345373, 36.027985],
     [-87.34568, 36.028224],
     [-87.346542, 36.028896],
     [-87.346659, 36.028988],
     [-87.346905, 36.029183],
     [-87.348837, 36.03053],
     [-87.349102, 36.030715],
     [-87.350206, 36.031484],
     [-87.350388, 36.031611],
     [-87.35108, 36.032099],
     [-87.351666, 36.032511],
     [-87.35206, 36.032791],
     [-87.352441, 36.033062],
     [-87.353181, 36.033589],
     [-87.35435, 36.034494],
     [-87.354524, 36.034636],
     [-87.35473, 36.034825],
     [-87.354996, 36.035069],
     [-87.355533, 36.035561],
     [-87.355714, 36.03579],
     [-87.356236, 36.036454],
     [-87.35648, 36.036852],
     [-87.356554, 36.03694],
     [-87.356889, 36.037635],
     [-87.356991, 36.037848],
     [-87.357072, 36.038016],
     [-87.357456, 36.038813],
     [-87.357804, 36.039536],
     [-87.357934, 36.039897],
     [-87.357967, 36.03997],
     [-87.358095, 36.040257],
     [-87.358574, 36.041329],
     [-87.358774, 36.041852],
     [-87.359396, 36.0433],
     [-87.359543, 36.043698],
     [-87.360164, 36.044911],
     [-87.360676, 36.045857],
     [-87.360934, 36.046333],
     [-87.361527, 36.047146],
     [-87.362006, 36.047761],
     [-87.362608, 36.048443],
     [-87.362929, 36.048775],
     [-87.363015, 36.048851],
     [-87.36311, 36.048955],
     [-87.363501, 36.049341],
     [-87.363676, 36.049508],
     [-87.36394, 36.049775],
     [-87.364553, 36.050373],
     [-87.365206, 36.051015],
     [-87.366516, 36.052289],
     [-87.366692, 36.052469],
     [-87.36691, 36.052681],
     [-87.36723, 36.05299],
     [-87.367456, 36.053218],
     [-87.367507, 36.05327],
     [-87.367876, 36.053623],
     [-87.367924, 36.053667],
     [-87.368121, 36.053862],
     [-87.368502, 36.054255],
     [-87.368722, 36.054451],
     [-87.368774, 36.054501],
     [-87.368972, 36.054693],
     [-87.369197, 36.054918],
     [-87.369608, 36.055324],
     [-87.370427, 36.056129],
     [-87.370974, 36.056658],
     [-87.371313, 36.056982],
     [-87.371368, 36.057042],
     [-87.371501, 36.057177],
     [-87.371618, 36.057295],
     [-87.37188, 36.057541],
     [-87.37204, 36.057689],
     [-87.372188, 36.057842],
     [-87.372202, 36.057861],
     [-87.372411, 36.058066],
     [-87.372594, 36.058248],
     [-87.372777, 36.058428],
     [-87.372855, 36.058504],
     [-87.373114, 36.058758],
     [-87.373348, 36.058986],
     [-87.373535, 36.059174],
     [-87.373586, 36.05922],
     [-87.373796, 36.059413],
     [-87.373962, 36.059577],
     [-87.374052, 36.059666],
     [-87.374275, 36.059887],
     [-87.374609, 36.060218],
     [-87.374789, 36.060394],
     [-87.375061, 36.06066],
     [-87.375118, 36.060716],
     [-87.375351, 36.06094],
     [-87.375393, 36.060982],
     [-87.375574, 36.061156],
     [-87.376241, 36.061802],
     [-87.376881, 36.062421],
     [-87.376452, 36.062745],
     [-87.376263, 36.062909],
     [-87.376126, 36.063028],
     [-87.375874, 36.063247],
     [-87.375794, 36.063317],
     [-87.375833, 36.063613],
     [-87.37588, 36.063675],
     [-87.376011, 36.063848],
     [-87.376511, 36.064096],
     [-87.376553, 36.064127]],
    'type': 'LineString'}}],
 'bbox': [-87.376881, 36.017586, -86.857498, 36.179398],
 'metadata': {'attribution': 'openrouteservice.org | OpenStreetMap contributors',
  'service': 'routing',
  'timestamp': 1686013932202,
  'query': {'coordinates': [[-86.879697, 36.179358], [-87.376937, 36.063782]],
   'profile': 'driving-car',
   'format': 'geojson'},
  'engine': {'version': '6.8.1',
   'build_date': '2023-05-22T14:27:28Z',
   'graph_date': '2023-05-28T16:14:00Z'}}}